<div class="titlebar clearfix" id="safari_head" ng-controller="safari">
		<div class="buttons">
			<div class="close1 window-rounds">
				<a class="close1button" href="javascript:void(0)"><span><strong>x</strong></span></a>
				<!-- close1 button link -->
			</div>
			<div class="minimize window-rounds">
				<a class="minimizebutton" href="javascript:void(0)"><span><strong>&ndash;</strong></span></a>
				<!-- minimize button link -->
			</div>
			<div class="zoom window-rounds">
				<a class="zoombutton" href="javascript:void(0)"><span><strong><img src="assets/img/maximize.png" alt=""></strong></span></a>
				<!-- zoom button link -->
			</div>
		</div>
		<div class="url-bar">
			<form id="browser" ng-submit="goThere()">
			<div class="db">
					<input type="text" class="url" placeholder="search or enter website names" ng-model="url_bar_value">
			</div>
			</form>
		</div>
		<div class="buttons-group pull-right">
			<a class="button is-osx" data-tooltip="Back Home" data-placement="bottom"><i class="fa fa-home" aria-hidden="true"></i></a>
			<a class="button is-osx" data-tooltip="See it on GitHub" data-placement="bottom"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a class="button is-osx" data-tooltip="Share" data-placement="bottom"><i class="fa fa-share" aria-hidden="true"></i></a>
		</div>
		<!-- window title -->
		<!-- actions -->
		<!-- // actions -->
	</div>

