<div class="titlebar">
		<div class="buttons">
			<div class="close1 window-rounds">
				<a class="close1button" href="#"><span><strong>x</strong></span></a>
				<!-- close1 button link -->
			</div>
			<div class="minimize window-rounds">
				<a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
				<!-- minimize button link -->
			</div>
			<div class="zoom window-rounds">
				<a class="zoombutton" href="#"><span><strong><img src="assets/img/maximize.png" alt=""></strong></span></a>
				<!-- zoom button link -->
			</div>
		</div>
		<p>{{title}}</p>
		<!-- window title -->
		<!-- actions -->
		<!-- // actions -->
	</div>