

<!-- window -->
<div class="window drag ui-widget-content hide" id="finder">
	<div ng-include="'partials/titlebar.html'" onload="title='thetitle'"></div>

	<div class="container-fluid content">
			<h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			<p>Hi this is content for omar'sgable OSX like window</p>
			<div class="osx">Hello</div>
			<p id="clock"></p>
			<!-- window content --><h3>Hey! What's up?</h3>
			
	</div>
</div>
<!-- window -->

<script>
// $(".finderStart").click(function(){
// 	console.log('finderStart');
// 	$('#finder').addClass('active').removeClass('hide zoomOut').siblings().removeClass('active');
// });	
</script>







