<!-- window -->
<div class="window drag ui-widget-content hide" id="one">
    <div ng-include="'partials/titlebar.html'" onload="title='welcome'"></div>
    <div class="container-fluid content gray">
            <h3 class="m0">Hey! What's up? Welcome to My Portfolio</h3>
            <h2 class="danger p0 mt0">PLEASE EXCUSE MY MESS</h2>
            <div class="p5em"></div>
            <p>I decided to launch this page as I work on it. I realized that it is really never going to be finished; So check back often for updates and awesome OSX-like features!</p>
            <div class="p5em"></div>
            <p class="pull-left">By the way it is </p><p style="padding-left: 0.5em;" class="clock pull-left"></p><p style="padding-left: 0.5em;" class="pull-left">in Dallas</p>
            <div class="p1em"></div>
            <!-- <div class="osx">Hello, "World!"</div> -->
            <!-- window content -->
    </div>
</div>
<!-- window -->




