

<!-- window -->
<div class="window drag ui-widget-content hide" id="safari">
	<div ng-include="'partials/safari_head.html'" onload="title='safari'"></div>

	<div class="container-fluid content">
		<div class="safari-iframe pr">
			<iframe src="" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
		</div>
	</div>
</div>
<!-- window -->

<script>
// $(".finderStart").click(function(){
// 	console.log('finderStart');
// 	$('#finder').addClass('active').removeClass('hide zoomOut').siblings().removeClass('active');
// });	
</script>







