

<div class="lockScreen" ng-controller="lockScreen">
	<div class="lockContent">
		<div class="img-circle">
			<img src="assets/img/eye.jpg" alt="...">
		</div>
		<!-- <p>under contstruction</p> -->
		<!-- <div class="loader hide"><i class="fa fa-spinner fa-spin"></i></div> -->
		<div class="user" >
			<form id="login" class="active"  ng-submit="login('/desktop')">
				<input required id="username" type="text" ng-model="username" placeholder="Enter Your Username"><br>
				<a href="/access" class="hide hideit">ACCESS</a>
				<div class="submit-it"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
				<input required id="submit" type="submit" ng-model="submit" value="Login"><br>
			</form>
			<form id="register" ng-submit="register()">
				<input required id="username" type="text" ng-model="username" placeholder="Choose a Username"><br>
				<input required id="email" type="email" ng-model="email" placeholder="Email Address"><br>
				<input required id="submit" type="submit" ng-model="submit" value="Register"><br>
				<a href="/access" class="hide hideit">ACCESS</a>
				<!-- <div class="submit-it"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div> -->
			</form>
		</div>
	</div>
	<a class="firsttime" ng-click="toggleForms()">
		<img src="assets/img/play.svg" alt="">
		<p>register</p>
	</a>
	<div class="BG"></div>
</div>


<script>
$('input#username').focus(function(){
	$('.user .submit-it').css('display', 'block');
	$(this).focusout(function(){
		if($(this).val().length<1){
			$('.user .submit-it').css('display', 'none');
			$(this).val('');
		}
	});
});



// $('.submit-it').click( function(){
// 	login_submit();
// });

// $('#login').submit( function(){
// 	login_submit();
// });

// function login_submit(){
// 	console.log('submit');
// }
</script>